.item {
    display: flex;
    align-items: center;
    padding: 25px;
    margin: 25px;
    width: 300px;
    border: 1px solid rgb(227, 227, 227);
    background-color: rgb(253, 253, 253);
    border-radius: 65px;
    
  }
  
  .avatar {
    height: 100px;
    border-radius: 75%;
    margin-right: 20px;
  }
  
  .name {
    margin-right: 20px;
    font-size: 28px;
    font-weight: 700;
  }
  
  .status {
    display: inline-block;
    margin-left: auto;
    margin-right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 75%;
    background: rgb(0, 77, 128);
  }